:root {
  font-family: "Roboto";

  --c-light-blue-1: #45e5e3;
  --c-light-blue-2: #00c7c4;
  --c-purple: #6652ff;
  --c-dark-gray: #062229;
  --c-red-1: #c1292e;
  --c-red-2: #961d4e;

  --c-gray-1: #e4e4e4;
  --c-gray-2: #898888;
  --c-gray-3: #757575;
  --c-grey-4: #525252;
}
